# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Byte-compiled / optimized / DLL files
__pycache__/

.pytest_cache/

# Flask stuff:
instance/
.webassets-cache
client_secret_418765096098-vlsj5go7dusrq0eebs3f8h7i42iv7qqi.apps.googleusercontent.com.json
client_secret_418765096098.json
client_secret_564818052534-f8f29ltrvhh7kmcn7i7omadbrd4cg3e0.apps.googleusercontent.com.json
